/*===================================
    Everything that hasnt been given
    custom css or things that effect 
    the main page
 ==================================*/
* {
    font-family: 'Arial';
    padding: 0;
    margin: 0;
    height: fit-content;
    text-decoration: none;
}

html, body {
    background-color: #bbbbbb
}

/*===================================
            Main header
 ==================================*/

header {
    background-color: #000000;
    padding: 1.75rem;
    border-bottom: 0.25rem #ffffff solid;
    position: sticky;
    top: 0;
    overflow-y: auto;
    z-index: 10;
}

#homebutton {
    color: #757575;
    width: fit-content;
}

#homebutton:hover {
    color: #ffffff;
    text-decoration: underline;
    width: fit-content;
    }

#linkbuttons {
    color: #757575;
    width: fit-content;
    margin-top: 0.75rem
}

    #linkbuttons:hover {
        color: #ffffff;
        text-decoration: underline;
        width: fit-content;
    }

.flexbox-1 {
    width: 100%;
    display: flex;
}

.links {
    text-align: right;
    display: inline-flex;
    margin-left: auto;
    gap: 1.25rem
}

/*===================================
        All Project Redirects
 ==================================*/

.Projects {
}

    .Projects h1 {
        text-align: center;
        font-size: 4rem
    }

.project-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    gap: 0.75rem;
    overflow-y: hidden
}

.card {
    background-color: #838383;
    border: 0.25rem #ffffff solid;
    border-radius: 0.75rem;
    width: 42rem;
    height: 32rem;
    margin: 1rem;
    padding: 0;
    text-align: center;
    position: relative;
    text-decoration: none;
}

    .card img {
        width: 80%;
        height: auto;
        border: .25rem #ffffff solid;
        border-radius: 0.75rem;
        margin: 0,auto;
    }

    .card p {
        font-size: 1rem;
        margin: 0,auto;
        padding: 0.5rem;
    }

    .card a {
        color: #000000;
        font-size: 1.5rem;
        margin: 0.5rem;
        font-weight: bold;
    }